/* Import fonts. */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Color variables */
:root {
    --primario: #E40E20;
    --secundario: #FAF3CE;
}

/* General settings. */
body {
    background-color: var(--secundario) !important;
}

* {
    font-family: "Poppins", system-ui;
    font-weight: 400;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Nav settings. */
img.komainu-logo {
    width:8em;
}

.fa-solid, .fas {
    font-size: 2em;
    color: var(--primario);
}

.navbar-toggler {
    border: none !important;
}

/* Button settings */
.reservar-mesa {
    font-family: "Rammetto One", sans-serif !important;
    font-weight: 400 !important;
    white-space: nowrap;
    color: var(--secundario) !important;
    background-color: var(--primario) !important;
    border-color: black !important;
    z-index: 3;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(5px 7px 4px #000000bd);
    transition: 0.5s !important;
}

.reservar-mesa:hover {
    filter: drop-shadow(0px 0px 0px #000000bd);
    transition: 0.5s;
}

/* Text for video */
.text-for-video {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text-for-video > img {
    height: 100vh;
    object-fit: cover;
}

/* Background video settings */
.video-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#back-video-ramen {
    height: 100vh;
}

/* Rest of text */
.despcrition-text {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.despcrition-text > p {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2em;
}

/* Características de la comida */
.caracteristicas {
    background-color: var(--secundario);
}

.caracteristicas .row {
    border-bottom: 2px var(--primario) solid;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.caracteristicas .row .ingredientesTexto {
    font-size: 1.5em;
    margin: 0 0 0.5rem 0;
}

.caracteristicas .row .ingredientesImg p {
    font-size: 1em;
    margin: 0;
}

.caracteristicas .row .ingredientesImg img {
    width: 60px;
}

/* Características de la comida */
#nuestroskits {
    background-color: var(--secundario);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nuestroskits > p {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secundario);
    -webkit-text-stroke: 1px var(--primario);
    font-size: 2.5em;
}

/* LOS KITS */
.losKits {
    background-color: var(--secundario);
}

.rpar {
    background-color: black;
    color: var(--secundario);
}

.losKits .row {
    padding: 1rem;
}

.losKits .row h3 {
    font-family: "Rammetto One", sans-serif;
    font-size: 1em;
}

#laUbicacion {
    background-color: var(--secundario);
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#laUbicacion > h3 {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}