/* Import fonts. */
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Color variables */
:root {
    --primario: #E40E20;
    --secundario: #FAF3CE;
}

* {
    font-family: "Poppins", system-ui;
    font-weight: 400;
}

html::-webkit-scrollbar {
    width: 15px;
}

html::-webkit-scrollbar-track {
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--primario);
    border-radius: 10px;
}

/* General settings. */
body {
    background-color: var(--secundario) !important;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* Nav settings. */

.box-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img.komainu-logo {
    width: 120px;
    margin-left: 0.3em;
}

.fa-solid, .fas {
    font-size: 2em;
    color: var(--primario);
    /* margin-right: 0.3em; */
}

.nav-item a {
    margin: 0 1em;
    font-size: 1em;
}

.navbar-toggler {
    border: none !important;
}

/* Button settings */
.reservar-mesa {
    background-color: var(--primario) !important;
    border-color: black !important;
    z-index: 3;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(5px 7px 4px #000000bd);
    transition: 0.5s !important;
}

.reservar-mesa:hover {
    filter: drop-shadow(0px 0px 0px #000000bd);
    transition: 0.5s;
}

.reservar-mesa > a {
    font-family: "Rammetto One", sans-serif !important;
    font-weight: 400 !important;
    white-space: nowrap;
    color: var(--secundario) !important;
    text-decoration: none;
}

/* Text for video */
.text-for-video {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.text-for-video > img {
    height: 100vh;
    object-fit: cover;
}

/* Background video settings */
.video-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    /* right: 0; */
    bottom: 0;
    z-index: -1;
}

#back-video-ramen {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}


/* Rest of text */
.despcrition-text {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.despcrition-text > p {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2.5em;
    margin: 0.6em;
}

/* Características de la comida */
.caracteristicas {
    background-color: var(--secundario);
}

.caracteristicas .row {
    border-bottom: 2px var(--primario) solid;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.caracteristicas .row .ingredientesTextos h3 {
    font-size: 1.2em;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    color: var(--primario);
}

.caracteristicas .row .ingredientesTextos p {
    font-size: 1em;
    margin: 0;
}

.caracteristicas .row .ingredientesImg img {
    width: 60px;
}

/* Animación imágenes rotando */
/* .ingredientsImg {
    overflow: hidden;
} */

.rotation-logo {
    display: block;
    margin: 0 auto;
    animation: rotate 8s infinite linear;
}

.row:nth-child(1) .rotation-logo {
    animation-delay: 0s;
}

.row:nth-child(2) .rotation-logo {
    animation-delay: 2s;
}

.row:nth-child(3) .rotation-logo {
    animation-delay: 4s;
}

.row:nth-child(4) .rotation-logo {
    animation-delay: 6s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* KITS TITULO */
#nuestroskits {
    background-color: var(--secundario);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nuestroskits > p {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--secundario);
    -webkit-text-stroke: 1px var(--primario);
    font-size: 2.2em;
    padding: 0.5em;
    white-space: nowrap;
}

/* LOS KITS */
.losKits {
    background-color: var(--secundario);
}

.rpar {
    background-color: black;
    color: var(--secundario);
}

.par {
    background-color: var(--secundario);
    color: black;
}

.losKits .row {
    padding: 1rem;
}

.losKits .row h3 {
    font-family: "Rammetto One", sans-serif;
    font-size: 1em;
}

.losKits .row p {
    margin-bottom: 0;
    font-size: 1em;
}

.losKits .rpar:hover,
.losKits .par:hover {
    background-color: var(--primario);
    transition: 0.3s;
}

.losKits .rpar div a i {
    color: var(--secundario);
    font-size: 2em;
}

.losKits .rpar div a i:hover {
    font-size: 2.5em;
    transition: 0.3s;
}

.losKits .par div a i {
    color: black;
}

.losKits .par div a i:hover {
    font-size: 2.5em;
    transition: 0.3s;
}

/* IMÁGENES */
.imagenes {
    background-color: var(--secundario);
    --bs-gutter-y: 0 !important;
    --bs-gutter-x: 0 !important;
    padding: 0.7rem !important;
}

.cardimg {
    padding: 1rem !important;
    filter: drop-shadow(5px 7px 4px #00000034);
    transition: 0.5s !important;
    
}

.cardimg:hover {
    filter: drop-shadow(0px 0px 0px #00000021);
    transition: 0.5s !important;
}

.card {
    background-color: black !important;
    border: none !important;
}

.card-body {
    color: white;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 0;
}

.card-text {
    font-size: 1em;
}

.card-footer {
    border-top: white 1px solid !important;
}

.estrella {
    font-size: 1em;
    color: var(--primario);
}

/* UBICACION */
#laUbicacion {
    background-color: var(--secundario);
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#laUbicacion h3 {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

#laUbicacion p {
    font-size: 1em;
}

/* CARROUSEL */
.splide {
    background-color: var(--secundario);
}

.splide__slide div {
    height: 40em;
    width: 20em;
    overflow: hidden;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.splide__slide img {
    width: 200%;
    object-fit: cover;
}

/* TEXTO ROJO */

.textoRojo {
    background-color: var(--secundario);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoRojo .row .textoRojoCont h3 {
    color: var(--primario);
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    line-height: 1.6;
    margin: 0.6em;
}

/* HORARIO */
.horario {
    background-color: var(--secundario);
}

.horario .row {
    border-top: 2px var(--primario) solid;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horario .row h3 {
    font-size: 1.2em;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    color: var(--primario);
}

.horario .row p {
    font-size: 1em;
}

/* SPINNER */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.spinnerBtn {
    opacity: 1 !important;
    color: var(--primario) !important;
}

/* FOOTER */
footer {
    background-color: black;
    padding-top: 1rem;
}

/* Marquesina */
.texto_animado {
    width: 100%;
    overflow: hidden;
    margin-top: 1rem;
}

.texto_animado .texto_animado_content {
    display: flex;
    list-style: none;
    animation: scrolling 10s linear infinite;
}

.texto_animado .texto_animado_content li {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    padding: 0 1vw;
    text-transform: uppercase;
}

.texto_animado .texto_animado_content li:nth-child(even) {
    color: var(--primario);
}

.texto_animado .texto_animado_content li:nth-child(odd) {
    color: var(--secundario);
}

.texto_animado .texto_animado_content ._item {
    flex-shrink: 0;
}

@keyframes scrolling {
    0% { transform: translateX(0) }
    100% { transform: translateX(-100%) }
}

/* Texto ofertas y promociones */
.ofertasPromociones {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ofertasPromociones .row .ofertasPromocionesCont p  {
    color: white;
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    margin-top: 1em;
}

.ofertasPromociones2 .row .ofertasPromocionesCont2 p  {
    color: white;
    margin: 0 2em;
    font-size: 1em;
}

/* Formulario */
.formulario-footer {
    padding: 1.8em;
}

.formulario-footer .form-label {
    color: white;
    font-size: 1em;
}

.formulario-footer .form-check-label {
    color: white;
}

.formulario-footer .form-control {
    border-radius: 25px;
    border: var(--primario) solid 2px;
    background-color: black;
    color: white;
}

.formulario-footer .btn-primary {
    background-color: var(--primario);
    transition: 0.5s;
    border-radius: 25px;
    border: var(--primario) solid 2px;
    width: 120px;
    font-size: 1em;
}

.formulario-footer .form-control:focus {
    background-color: var(--secundario) !important;
    color: black;
    border-color: var(--primario) !important;
}

/* Políticas */
.politicas .row {
    padding: 1rem;
}

.politicas .row h3 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.politicas .row div p {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.politicas .row div p:hover {
    font-weight: bold;
    transition: 0.3s;
    color: var(--primario);
}

/* Contacto */
.contacto .row {
    padding: 1rem 1rem 2rem 1rem;
}

.contacto .row h3 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.contacto .row div p {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

/* Menú footer */
.nav_footer {
    background-image: url('../media/elemento_rojo_footer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    height: 40vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-itemFooter a {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    padding-right: 3.5em;
}

/* Final Footer */
.logoFooter {
    background-image: url('../media/elemento_amarillo_footer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    height: 20vh;
    position: relative;
    z-index: 1;

    margin-top: -90px;
}

.logoFooter .img {
    width: 120px; 
    position: absolute; 
    bottom: 15px;
    right: 0px;
    z-index: 2;
}

.logoFooter .copy {
    position: absolute;
    bottom: 15px;
    z-index: 3;
    padding-left: 1.5em;
}

.logoFooter .copy p {
    color: var(--primario);
    font-weight: bold;
}







/* RESERVAR MESA */

.navbarReservasCont {
    margin: 0.8em;
}

.navbar-reservar .volver-atras {
    background-color: var(--primario) !important;
    border-color: black !important;
    margin-right: 0.8em;
    font-size: 1em !important;
}

.navbar-reservar .volver-atras > a {
    white-space: nowrap;
    color: var(--secundario) !important;
    text-decoration: none;
}

img.komainu-logo-reservas {
    width: 120px;
    margin-left: 0.4rem;
}

.formulario-reservas {
    padding: 1.6em;
}

.formulario-reservas .form-label {
    color: black;
    font-size: 1.1em;
}

.formulario-reservas .form-check-label {
    color: black;
}

.formulario-reservas .form-control,
.formulario-reservas .form-select {
    border-radius: 25px;
    border: var(--primario) solid 2px;
    background-color: #fffce8;
    color: black;
}

.formulario-reservas .submit {
    background-color: var(--primario);
    border-radius: 25px;
    border: var(--primario) solid 2px;
    width: 240px;
    height: 50px;
    font-size: 1.1em;
    border-color: black !important;
    color: var(--secundario);

    font-family: "Rammetto One", sans-serif !important;
    font-weight: 400 !important;
    white-space: nowrap;

    filter: drop-shadow(5px 7px 4px #000000bd);
    transition: 0.5s !important;
}

.formulario-reservas .submit:hover {
    filter: drop-shadow(0px 0px 0px #000000bd);
    transition: 0.5s;
    background-color: var(--primario) !important;
    color: var(--secundario) !important;
}

.formulario-reservas .form-select option {
    font-size: 0.9em;
}






/* MEDIA QUERIES */

@media screen and (min-width: 680px) {

    /* Nav */
    .nav-item a {
        margin: 0 2em;
        font-size: 1.1em;
    }

    /* Características */
    .caracteristicas .row {
        padding: 1.5rem 2rem;
    }

    /* Kits */
    .losKits .row {
        padding: 1.5rem 2rem;
    }

    /* Imágenes */
    .imagenes {
        padding: 1.5rem 1.5rem !important;
    }

    /* TEXTO ROJO */
    .textoRojo .row .textoRojoCont h3 {
        margin-left: 2em;
        margin-right: 2em;
    }

    /* HORARIO */
    .horario .row {
        padding: 1rem 2rem;
    }

    /* Footer */
    /* Formulario */
    .formulario-footer {
        padding: 1.8em 2.5em;
    }

    /* Políticas */
    .politicas .row {
        padding: 1rem 2rem;
    }

    /* Contacto */
    .contacto .row {
        padding: 1rem 2rem;
    }

    /* Menú footer */
    .nav_footer {
        margin-top: -370px;
    }

    .nav-itemFooter a {
        padding-right: 1.4em;
    }

    /* Footer final */
    .logoFooter {
        height: 22vh;
        margin-top: -85px;
    }

    .logoFooter .img {
        width: 130px; 
    }

    .logoFooter .copy p {
        margin-left: 0.5rem;
    }


    /* RESERVAR MESA */
    .formulario-reservas {
        padding: 2.5em;
    }

    .formulario-reservas .form-select option {
        font-size: 1em;
    }
}


@media screen and (min-width: 960px) {

    /* IMG logo menú */
    img.komainu-logo {
        margin-left: 1em;
    }

    /* Nav */
    .nav-item a {
        justify-content: space-around;
        margin: 0 1em;
    }

    .nav-item a::after {
        content: '';
        width: 0;
        height: 3px;
        background-color: var(--primario);
        display: block;
        transition: 0.2s linear;
    }

    .nav-item a:hover::after {
        width: 100%;
    }

    /* Rest of text */
    .despcrition-text > p {
        font-size: 2.8em;
    }

    /* Características */
    .caracteristicas .row {
        padding: 1.5rem 3rem;
    }
    
    
    .caracteristicas .row .ingredientesTextos h3 {
        font-size: 1.4em;
    }
    
    .caracteristicas .row .ingredientesTextos p {
        font-size: 1.1em;
    }
    
    .caracteristicas .row .ingredientesImg img {
        width: 70px;
    }

    /* Nuestros kits */
    #nuestroskits > p {
        font-size: 2.8em;
    }

    /* Kits */
    .losKits .row {
        padding: 2rem 3rem;
    }

    .losKits .row h3 {
        font-size: 1.3em;
    }
    
    .losKits .row p {
        margin-bottom: 0;
        font-size: 1.1em;
    }

    /* Imágenes */
    .imagenes {
        padding: 1.5rem 2.6rem !important;
    }

    .card-title {
        font-size: 1.3rem;
    }
    
    .card-text {
        font-size: 1.1em;
    }
    

    /* Ubicación */
    #laUbicacion {
        height: 60vh;
    }
    
    #laUbicacion p {
        font-size: 1.1em;
    }

    /* TEXTO ROJO */
    .textoRojo .row .textoRojoCont h3 {
        font-size: 2em;
        margin-left: 3em;
        margin-right: 3em;
    }

    /* HORARIO */
    .horario .row {
        padding: 1rem 3rem;
    }
    
    .horario .row h3 {
        font-size: 1.4em;
    }

    .horario .row p {
        font-size: 1.1em;
    }

    /* FOOTER */

    /* Texto ofertas y promociones */

    .ofertasPromociones .row .ofertasPromocionesCont p  {
        font-size: 1.4em;
    }

    .ofertasPromociones2 .row .ofertasPromocionesCont2 p  {
        font-size: 1.1em;
    }

    /* Formulario */
    .formulario-footer {
        width: 100%;
        /* max-width: 500px; */
        margin: 0 auto;
        padding: 1.8em 4em;
    }

    .formulario-footer .form-label {
        font-size: 1.1em;
    }

    .formulario-footer .btn-primary {
        font-size: 1.1em;
    }

    /* Políticas */
    .politicas .row {
        padding: 1rem 3.2rem;
    }

    /* Contacto */
    .contacto .row {
        padding: 1rem 3.2rem;
    }

    /* Menú footer */
    .nav_footer {
        height: 45vh;
        margin-top: -350px;
    }

    .nav-itemFooter a {
        padding-right: 2.2em;
    }

    /* Final Footer */
    .logoFooter {
        height: 25vh;
        margin-top: -80px;
    }

    .logoFooter .copy {
        padding-left: 3.2rem;
    }


    /* RESERVAS MESA */

    .navbar-reservar .volver-atras {
        margin-right: 1.8em;
    }
    
    img.komainu-logo-reservas {
        margin-left: 1.2em;
    }

    .formulario-reservas {
        padding: 3.2em;
    }

    .formulario-reservas .form-select option {
        font-size: 1em;
    }
}